/wikipedia_dumps/
/wikipedia_dumps/cswiki-latest-langlinks.sql
/wikipedia_dumps/cswiki-latest-page.sql
/wikipedia_dumps/fiwiki-latest-langlinks.sql
/wikipedia_dumps/fiwiki-latest-page.sql
/wikipedia_dumps/skwiki-latest-langlinks.sql
/wikipedia_dumps/skwiki-latest-page.sql
/cswiki-latest-langlinks.sql.gz
/cswiki-latest-page.sql.gz
/fiwiki-latest-langlinks.sql.gz
/fiwiki-latest-page.sql.gz
/iswiki-latest-langlinks.sql.gz
/iswiki-latest-page.sql.gz
/plwiki-latest-langlinks.sql.gz
/plwiki-latest-page.sql.gz
/skwiki-latest-langlinks.sql.gz
/skwiki-latest-page.sql.gz
/csv/
/info.json
/indexdir/
/.idea/
